body{
    display: flex;
    align-items: center;
    height: 100vh;
}

.container{
    max-width: 1440px;
    width: 50%;
    border: 1px solid black;
    border-radius: 8px;
    padding: 8px;
}
.btn{
    margin-top: 10px;
}

h2{
    text-align: center;
    margin:10px 0;
}

label{
    
}